# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
env/
ENV/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# IDEs
.vscode/
.idea/

# Python packaging
build/
dist/
*.egg-info/

# Environment variables
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Coverage reports
htmlcov/
.coverage